@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700italic,600,400italic,300italic,600italic);*,:before,:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}

html,body,blockquote,h1,h2,h3,h4,h5,h6,p,pre,hr,audio,embed,img,object,video,button,fieldset,form,input,select,textarea,caption,legend,table,td,th,tr{border:0;margin:0;outline:0;padding:0}
[hidden]{display:none}
svg:not(:root){overflow:hidden}
nav ul,nav ol{list-style:none;margin:0;padding:0}
nav li{margin:0}
nav a{display:inline-block;padding:4px 8px;text-decoration:underline}
nav a:hover{text-decoration:none}
nav ul,.footer-Nav ul,.nav ol,.footer-Nav ol{border:1px solid #ccc;padding:4px}
nav ul,nav ol,.media,.media-Reverse,.media-No-Wrap-Reverse,.media-No-Wrap{*zoom:1}
.clearfix:before,.row:before,.c-Row:before,nav ul:before,nav ol:before,.media:before,.media-Reverse:before,.media-No-Wrap-Reverse:before,.media-No-Wrap:before,.clearfix:after,.row:after,.c-Row:after,nav ul:after,nav ol:after,.media:after,.media-Reverse:after,.media-No-Wrap-Reverse:after,.media-No-Wrap:after{content:"";display:table}
.clearfix:after,.row:after,.c-Row:after,nav ul:after,nav ol:after,.media:after,.media-Reverse:after,.media-No-Wrap-Reverse:after,.media-No-Wrap:after{clear:both}
blockquote,h1,h2,h3,h4,h5,h6,li,p,small,code,kbd,samp,dt,button,fieldset,form,input,select,textarea,table{margin-bottom:8px}
.pic,.pic-Rounded{border:1px solid #fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-clip:padding-box;-moz-box-shadow:0 8px 8px -8px rgba(0,0,0,.5);-webkit-box-shadow:0 8px 8px -8px rgba(0,0,0,.5);box-shadow:0 8px 8px -8px rgba(0,0,0,.5);display:inline-block;overflow:hidden;width:90px}
.pic img,.pic-Rounded img{display:block}
.pic-Rounded{-moz-border-radius:100px;-webkit-border-radius:100px;border-radius:100px;background-clip:padding-box}
.media,.media-Reverse,.media-No-Wrap-Reverse,.media-No-Wrap{margin-bottom:16px;position:relative;z-index:2}
.media .media-Text>:last-child,.media-Reverse .media-Text>:last-child,.media-No-Wrap-Reverse .media-Text>:last-child,.media-No-Wrap .media-Text>:last-child{margin-bottom:0}
.media .media-Object,.media-Reverse .media-Object,.media-No-Wrap-Reverse .media-Object,.media-No-Wrap .media-Object{float:left;margin:0 16px 8px 0;max-width:30%}
.media-Reverse .media-Object,.media-No-Wrap-Reverse .media-Object{float:right;margin:0 0 8px 16px;max-width:30%}
.media-No-Wrap .media-Text{float:left;width:100%}
.media-No-Wrap .media-Object{margin-left:-100px;margin-right:0}
.media-No-Wrap-Reverse{padding-right:100px}
.media-No-Wrap-Reverse .media-Object{margin-right:-100px;margin-left:0}
.emph-Block{background:#fafafa;border:1px solid #ddd;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;background-clip:padding-box;-moz-box-shadow:0 8px 8px -8px rgba(0,0,0,.5);-webkit-box-shadow:0 8px 8px -8px rgba(0,0,0,.5);box-shadow:0 8px 8px -8px rgba(0,0,0,.5);margin-bottom:16px;min-height:50px;padding:16px}
.emph-Block>:last-child{margin-bottom:0}
body{background:#f8f8f8;font-family:"Open Sans";font-weight:300}
::-moz-selection{background:#54a4a3;color:#eee;text-shadow:none}
::selection{background:#54a4a3;color:#eee;text-shadow:none}
:focus,a:focus,a:active,input[type=submit]::-moz-focus-inner{outline:0}

