html{
    font-size: 16px;
}
#logo{
    height: 4rem;
    width: 4rem;
    /*vertical-align: middle;*/
}
#forkMe{
    position: absolute;
    top: 0rem;
    right: 0rem;
    border: 0rem;
}
nav li{
    display: inline-block;
}
td.proprietary{
    width: 10%;
}
td.notes{
    width: 25%;
}
ul.proprietary{
    list-style-type: none;
/*    text-align: center; Check this later. */
}
img.proprietary{
    height: 1.5rem; /*2rem?*/
    width: 1.5rem;
}
img.floss{
    width: 3rem;
    height: 3rem;
}
img.download{
    width: 2.5rem;
    height: 2.5rem;
}